@model Book
@{
    ViewData["Title"] = "Buy Book";
}

<hr />
<h2>Buy Book</h2>
<hr />

<div class="container">
    <div class="col-md-12">
        <div class="col-md-6" style="padding:8px;">
            <img src="@Model.ImageUrl" style="width:50%; height:40%;" />
        </div>
        <div class="col-md-6" style="padding:8px;">
            <p><strong>Kitap:</strong> @Model.Name</p>
            <p><strong>Yazar:</strong> @Model.Author</p>
            <p><strong>Kategori:</strong> @Model.bookCategory.Name</p>
            <p><strong>Açıklama:</strong> @Model.Description</p>
            <p><strong>Stok:</strong> @Model.Stock Adet</p>
            <p><strong>Fiyat:</strong> @Model.Price TL</p>
            <form asp-action="BuyBook">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input type="hidden" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Kitabı Satın Al" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>